.row.index-row.features {
    flex-flow: column nowrap;
    border-bottom: 1px solid #8A8A8A;
    margin-top: 0px;
    padding-top: 10px;
}

.index-row .posts-column {
    flex-flow: column wrap;
    flex: 1;
}

.index-row .post-tease {
    max-width: 1200px;
    width: inherit;
    display: inherit;
    padding-left: 5px;
}

.post-tease {
    padding-bottom: 0px;
}

.post-tease>a {
    width: 250px;
    min-width: 250px;
    float: left;
}

.post-tease .post-meta {
    margin-top: 0;
    margin-left: 0;
    max-width: 940px;
    min-width: 940px;
    padding-right: 0;
    background: #313131;
}

.post-tease .comment-count {
    left:inherit;
    right: 0;
    bottom: 0px;
    min-width: 10px;
}

.post-tease:after {
    border: 1px solid #000;
    border-top: none;
    border-right: none;
    border-left: none;
}

.index-row .post-tease:nth-of-type(3), 
.index-row .post-tease:nth-of-type(4), 
.index-row .post-tease:nth-of-type(5), 
.index-row .post-tease:nth-of-type(7), 
.index-row .post-tease:nth-of-type(8), 
.index-row .post-tease:nth-of-type(13), 
.index-row .post-tease:nth-of-type(14), 
.index-row .post-tease:nth-of-type(15), 
.index-row .post-tease:nth-of-type(16) {
    width: inherit;
    
}

.index-row .posts-column {
    width: 1200px;
}

.index-row.features .post-tease:first-child, 
.index-row.features .post-tease:last-child {
    width: 100%;
}

.index-row.features .post-tease:last-child h2 {
    font-size: inherit;
}

body {
    background: #272727;
}

main {
    background: #232323;
    color: #FAFAFA
}

.post-tease .post-meta h2 a {
    color: #FFF;
    font-size: 20px;
}

header#header #hdr-logo {
    z-index: 1;
}

article {
    /* display: none; */
    padding-left: 10px;
}

article.single .post-title {
    color: #FFF;
}

article.single .post-lowerdek {
    color: #FFF;
}

#story-recs.rec-wrap .post-meta,
#latest-recs.rec-wrap .post-meta {
    max-width: 310px;
    min-width: 238px;
}

#story-recs.rec-wrap .post-meta h2 a,
#latest-recs.rec-wrap .post-meta h2 a {
    font-size: 18px;
}


.post-tease .comment-count.read {
    background: #272727;
    height: 36px;
    border: 1px solid #fa501e;
}
